@CHARSET "ISO-8859-1";

/* CSS Document */
#global
{
    width: 100%;
    height: 100%;
    position: absolute; 
}

/* #topo
{
  position: absolute;
  top: 10px;
  left: 10%;
  width: 800px;
  height: 200px;
  background-image: url('header.png');
}
#rodapé
{
  position: absolute;
  bottom: 10px;
  left: 10%;
  width: 800px;
  height: 200px;
  background-image: url('footer.png');
} */

#formulario{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 16px;
	width: 350px;	
	text-align: center 
}

#formulario .fieldset{
	border-radius: 2px;
}

#formulario input {
    width: 100%;
    padding: 6px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

#formulario input[type=text]:focus {
    border: 3px solid #555;
}

#formulario .btn-default {
      box-shadow: 1px 2px 5px #000000;
      border-radius: 5;
  }
  
#formulario .btn-default {
      background: #000;
      color: #fff;
   }
   
#formulario .btn-default:hover {
      background: #fff;
      color: #000;
   }
